{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'chat/styles/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
</head>
<body style="background-color: rgb(125, 119, 119);">
    <script>
        const user_id="{{request.user.id}}"
        const username="{{request.user.username}}"
    </script>
    
    <div class="container pt-3 pb-3 " style="height:100%">
            <div class="row" style="height:100%">


                <div  id="cb_left_container" class="col-3 pl-0 pr-0" style=" background-color:rgb(0, 0, 0); height:100%; border-right:solid 1px black">
                    <div class="cb_left_headerUsers_container" style="height: 100%; overflow-x:hidden;" >
                        <div id='cb_left_header' style="color:white;top:0;background-color:black;z-index:1;width:100%;border-bottom:1px solid rgba(255, 255, 255, 0.432);" class="justify-content-center position-absolute mb-2">
                            <div id='cb_left_title' class="row justify-content-center">
                                <h4>{{username}}</h4>
                            </div>
                        </div>
                        <div id="recent_chat_users" class="pr-0 pl-1 pt-5 container " style="height:100%;overflow-x: hidden;" >
                        
                        </div>
                    </div>
                </div>

                <div  id="cb_right_container" class="col-9 pl-0 pr-0" style="height: 100%;">
    
                        <div id='cb_right_headerMessages_container' class=' pl-0 pr-0' style="background-color: yellow; height: 100%; min-height: inherit"> 

                            <div id='cb_right_header' style="color:white;top:0;background-color:rgb(61, 59, 59); width:100%;" class="position-absolute ">
                                     <div id='chatting_with_container' class="row justify-content-center">
                                    <h4 id="chatting_with_user">Username</h4>
                                    <input type="hidden" id="active_convo_user_id"></input>
                                    </div>
                            
                            </div>  

                            <div id="chat_messages" class="overflow-auto pl-3 pr-3 pt-5 " style="background:rgb(104, 103, 103);height:100%; ">
                            </div>
                        </div>  

                    <footer id='current_chat_input_container' class=" position-relative" style="bottom:71px">
                        <input id='current_chat_input' type="text"  placeholder="Enter....." style="height:50px;width:100%;"></input>
                    </footer> 
                   
                </div>
        </div>
    


    <!-- <script type="text/babel" src="../../static/chat/scripts/chat_components.js"></script> -->
    <script src="{% static 'chat/scripts/messages.js' %}"></script>
    <!-- <script type="text/babel" src="{% static 'chat/sctipts/app.js' %}"></script> -->
</body>
</html>



<!-- <div class="chat_sender mt-3 mb-1 row justify-content-end mr-1 ">
    <div class='d-inline-block  bg-success rounded-pill border border-success  p-2 '>
       <span class='message '>{this.props.text}</span>
    </div>
    </div>
    <div class="chat_receiver mt-3 mb-1">
        <div class='d-inline-block  bg-info rounded-pill border border-info  p-2'>
           <span class='message'>{this.props.text1}</span>
       </div>
    </div>  -->
